body{
  margin: 0 auto;
  text-align: center;
  font-family: 'Sawarabi Mincho', sans-serif;
  background-color: #FFFFFF;
  color: #262626;
}

header {
  background-color: #EDEDED;
  text-align: left;
  height: 75px;
  border-bottom: 2px solid #708570;
}

div img {
  width: auto;
  max-height: 250px;
  max-width: 200px;
  padding: 60px 10px;
  transition: transform .2s;
}

img:hover {
  /* background-color: #2D365B; */
  transform: scale(1.1);
}

h2 {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 5%;
}

#pic-container {
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 90%;
  border: 3px solid #708570;
  background-color: #EDEDED;
}

canvas {
  display: none;
  position: center;
  margin: 15px auto;
}

a {
  text-decoration: none;
  color: #262626;
}

a:hover { 
  color: rgb(137, 142, 155);
}

h1 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 40px;
  font-weight: bold;
}

#results-button {
  float: right;
  position: relative;
  margin-top: -25px;
  padding-right: 20px;
  cursor: pointer;
}

#reset-button {
  display: none;
}